selenium
beautifulsoup4==4.6.3
certifi==2022.12.7
Click==7.0
config==0.4.2
dnspython==1.16.0
Flask==1.0.2
Flask-PyMongo==2.2.0
itsdangerous==1.1.0
jinja2==2.10
lxml==4.2.6
MarkupSafe==1.1.1
passlib==1.7.1
pipenv==2018.5.18
pymongo==3.7.2
PyMySQL==0.9.3
virtualenv==16.0.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1