@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

html, body {
    background-color: #173F5F;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

.letter-font-color {
    color: #c6c8ca;
    font-size: 28px;
}

td {
    text-align: center;
}

th, td {
    text-align: center;
}

.navbar {
    height: 60px;
}

/* LOGIN PAGE */
.nav-header {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.no-textdecoration-on-links, a:link, a:visited, a:hover, a:active {
    color: #000000;
!important;
    text-decoration: none !important;
}

.login-container {
    text-align: center;
    margin: 5% auto;
}

.details {
    background: #709CAA;
    margin: 0 auto;
    border-radius: 5px;
    width: 350px;
    height: 350px;
}

.details p {
    margin: 0;
    padding-top: 5px;
    font-weight: bold;

}

.details i {
    width: 25px;
    height: 25px;
    padding: 5px;
    color: #9fcdff;
    background: #3CAEA3;
}

.login-input {
    margin: 10px;
}

.login-button {
    margin: 15px;
    height: 50px;
    width: 80px;
}

/* DASHBOARD */

.set-margin-data-date {
    margin: 0;
}

.set-margin-data {
    margin: 10px 0 0 0;
}

.username {
    text-align: left;
}

.username p {
    font-size: 20px;
    margin: 0;
    padding-top: 5px;
}

.set-center {
    text-align: center;
}

.set-center p {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
    padding-top: 3px;
}

.nav-item-padding {
    padding: 10px;
}

.logout {
    text-align: right;
}

/* SEARCH */

.search {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.search p {
    font-size: 28px;
    color: #c6c8ca;
    padding: 5px;
}

.search-button {
    padding: 3px;
}

/* TABLE FORMAT*/

table, th, td {
    border: 1px solid black;
}

button {
    white-space: nowrap;
}

.hide-tablet-pc {
    visibility: hidden;
}

.table-size {
    margin-left: 20px;
    margin-right: 20px;
}

/* Sub Item */

.align-center {
    text-align: center;
    margin: 5px auto;
}

/* MODAL BODY */

.modal-body p {
    color: #20c997;
}

/* FLASH MESSAGES */

.over {
    position: absolute;
    width: 800px;
    top: 65px;
    left: 5px;
    z-index: 1;
}

.center {
    margin: 0 auto;
    text-align: center;
    position: center;
}

/* FOOTER*/

footer {
    position: fixed;
    background: chocolate;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
    text-align: center;
}

footer p {
    margin: 0;
    padding-top: 10px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer i {
    color: #5a6268;
    /* Webkit browsers like Chrome and Safari */
    -webkit-transition: all 0.5s ease-in-out;
    /* Mozilla FireFox */
    -moz-transition: all 0.5s ease-in-out;
    /* Internet Explorer */
    -ms-transition: all 0.5s ease-in-out;
    /* Opera */
    -o-transition: all 0.5s ease-in-out;
}

.social-link-container i:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    opacity: 1;
    cursor: pointer;
    color: #80bdff;
}

/* MEDIA QUERY */

@media only screen and (max-width: 700px) {
    .hide-mobile {
        display: none;
    }

    .hide-tablet-pc {
        visibility: visible;
    }
}

@media only screen and (max-width: 530px) {
    .details {
        width: 350px;
    }

    body {
        font-size: 14px;
    }

    .table-size th {
        font-size: 15px;
        text-align: center;
        padding: 3px;
    }

    .table-size td {
        font-size: 13px;
        padding: 3px;
        white-space: normal;
    }

    .set-margin-data {
        margin: 10px 0 0 0;
    }

    .set-margin-data-date {
        margin: 0;
    }

    .hide-mobile {
        display: none;
    }

    .table-size {
        margin: 0;
    }
}
