@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

html, body {
    background-color: #10707f;
    font-family: 'Roboto', sans-serif;
}

table, th, td {
    border: 1px solid black;
}

.no-textdecoration-on-links, a:link, a:visited, a:hover, a:active {
    color: #000000;
!important;
    text-decoration: none !important;
}

.login-container {
    text-align: center;
    margin: 17% auto;
}

.details {
    background: #d1ecf1;
    margin: 0 auto;
    border-radius: 25px;
    width: 500px;
}

.details p {
    margin: 0;
    padding-top: 5px;
    font-weight: bold;

}

.login-input {
    margin: 10px;
}

.login-button {
    margin: 15px;
    height: 50px;
    width: 80px;
}

@media only screen and (max-width: 530px) {
    .details {
        width: 300px;
    }
}