<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="toast over" data-autohide="true" data-delay="2000">
            <div class="toast-body">
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endwith %}


<nav class="container-fluid navbar-light bg-light">
    <div class="row">
        <div class="col-4 username nav-item-padding">
            <p class="username-color">{{ session['username'] }}</p>
        </div>
        <div class="col-4 set-center nav-item-padding">
            <a href="{{ url_for('dashboard') }}">
                <button type="button" class="btn btn-secondary">
                    <i class="fas fa-house-damage"></i> Dashboard
                </button>
            </a>
        </div>
        <div class="col-4 logout nav-item-padding">
            <a href="{{ url_for('log_out') }}">
                <button type="button" class="btn btn-secondary">
                    <i class="fas fa-sign-out-alt"></i> Sign out
                </button>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="search col-sm-6">
            <p>Available balance: {{ sumbalance }} {{ session['currency'] }}</p>
            <p>Sum money: {{ summoney }} {{ session['currency'] }}</p>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-group">
                <i class="fas fa-plus"></i>Add Group
            </button>
        </div>
        <div class="search col-sm-6">
            <p>Search after your item:</p>
            <form action="{{ url_for('search') }}" method="POST">
                <input id="search" name="search" class="form-control" type="search" placeholder="Search"
                       aria-label="Search" required>
                <br>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>Search
                </button>
            </form>
        </div>
    </div>
</div>


<div class="table-size">
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Group</th>
            <th scope="col">Sum</th>
            <th scope="col" class="hide-tablet-pc">View</th>
            <th scope="col" class="hide-tablet-pc">Edit</th>
            <th scope="col" class="hide-tablet-pc">Delete</th>
        </tr>
        </thead>
        {% for dates in mydates %}
            <tr>
                <td>
                    <p class="set-margin-data-date">{{ dates.DATE_YEAR }} {{ dates.DATE_MONTH }}</p>
                </td>
                {% for group_item in mygroups %}
                    {% if ((dates.DATE_MONTH in group_item.DATE_MONTH) and (dates.DATE_YEAR == group_item.DATE_YEAR)) %}
                        <tr>
                            <td>

                            </td>
                            <td>
                                <p class="set-margin-data">{{ group_item.GROUP_NAME }}</p>
                            </td>
                            <td>
                                {% for sum in groupsumlist %}
                                    {% if ((group_item.GROUP_NAME in sum.GROUP_NAME) and (dates.DATE_YEAR == sum.DATE_YEAR) and (dates.DATE_MONTH in sum.DATE_MONTH)) %}
                                        <p class="set-margin-data">{{ sum.SUMVALUE }} {{ session['currency'] }}</p>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ url_for('view_details',month=group_item.DATE_MONTH, groupname=group_item.GROUP_NAME, groupyear=group_item.DATE_YEAR) }}">
                                    <button type="button" class="btn btn-info">
                                        <i class="fas fa-binoculars"></i><span class="hide-mobile">View</span>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning" data-toggle="modal"
                                        data-target="#{{ group_item.ID * 66 }}">
                                    <i class="fas fa-edit"></i><span class="hide-mobile">Edit Group</span>
                                </button>
                                {#Edit Group pop up#}
                                <div class="modal fade" id="{{ group_item.ID * 66 }}" tabindex="-1" role="dialog"
                                     aria-labelledby="edit-group-Label"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="edit-group-Label">Edit Group!</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Currently:</p>
                                                <p>{{ group_item.GROUP_NAME }} {{ group_item.DATE_YEAR }} {{ dates.DATE_MONTH }}</p>
                                                <form action="{{ url_for('edit_group', id=group_item.ID, group_id=group_item.GROUP_ID) }}"
                                                      method="POST">
                                                    <p>Group type name</p>
                                                    <select name="group" id="group" title="group" required>
                                                        <option disabled selected value>-- Select a Group type --
                                                        </option>
                                                        <option disabled value>->* INCOME *<-</option>
                                                        <option value="Income">Income</option>
                                                        <option disabled value>->* EXPANSE *<-</option>
                                                        <option value="Bills">Bills</option>
                                                        <option value="Other">Other</option>
                                                        <option value="Savings">Savings</option>
                                                        <option value="Shopping">Shopping</option>
                                                    </select>

                                                    <br>
                                                    <p>Year(number)</p>

                                                    <select name="year" id="year" title="year" required>
                                                        <option disabled selected value> -- Select a year --</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                    </select>
                                                    <br>
                                                    <p>Month</p>
                                                    <select name="month" id="month" title="month" required>
                                                        <option disabled selected value> -- Select a month --</option>
                                                        <option value="January">January</option>
                                                        <option value="February">February</option>
                                                        <option value="March">March</option>
                                                        <option value="April">April</option>
                                                        <option value="May">May</option>
                                                        <option value="June">June</option>
                                                        <option value="July">July</option>
                                                        <option value="August">August</option>
                                                        <option value="September">September</option>
                                                        <option value="October">October</option>
                                                        <option value="November">November</option>
                                                        <option value="December">December</option>
                                                    </select>
                                                    <br>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <input type="submit" value="Edit Group Item"
                                                               class="btn btn-warning">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#{{ group_item.ID }}">
                                    <i class="fas fa-trash-alt"></i><span class="hide-mobile">Remove Group</span>
                                </button>
                                <div class="modal fade" id="{{ group_item.ID }}" tabindex="-1" role="dialog"
                                     aria-labelledby="remove-sub-item-Label"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="remove-sub-item-Label">Remove Group
                                                    Item!</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this group Item?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <form action="{{ url_for('remove_group_item', id=group_item.ID, group_id=group_item.GROUP_ID, group_name=group_item.GROUP_NAME ,date_year=group_item.DATE_YEAR, date_month=group_item.DATE_MONTH) }}"
                                                      method="POST">
                                                    <input type="submit" value="Delete Group Item"
                                                           class="btn btn-danger">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>

{#Add new Group pop up#}

<div class="modal fade" id="add-group" tabindex="-1" role="dialog"
     aria-labelledby="add-group-Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-group-Label">Add Group!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('add_group') }}" method="POST">
                    <p>Group type name</p>
                    <select name="group" id="group" title="group" required>
                        <option disabled selected value>-- Select a Group type --</option>
                        <option disabled value>->* INCOME *<-</option>
                        <option value="Income">Income</option>
                        <option disabled value>->* EXPANSE *<-</option>
                        <option value="Bills">Bills</option>
                        <option value="Other">Other</option>
                        <option value="Savings">Savings</option>
                        <option value="Shopping">Shopping</option>
                    </select>
                    <br>
                    <p>Year(number)</p>
                    <select name="year" id="year" title="year" required>
                        <option disabled selected value> -- Select a year --</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                    </select>
                    <br>
                    <p>Month</p>
                    <select name="month" id="month" title="month" required>
                        <option disabled selected value> -- Select a month --</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                        <input type="submit" value="Add new Group Item" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6">
                <p>Third Milestone project - Created by Istvan Gercsak</p>
            </div>
            <div class="col-12 col-sm-6 list-inline social-link-container">
                <ul>
                    <li class="list-inline-item">
                        <a href="https://github.com/IstvanGercsak" target="_blank">
                            <i class="fab fa-github-square fa-3x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/istvangercsak/" target="_blank">
                            <i class="fab fa-linkedin fa-3x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="{{ url_for('static', filename='script/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='script/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='script/bootstrap.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });
</script>

</body>
</html>