<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 login-container">
            <h2>Log in</h2>
            <div class="details">
                <form action="{{ url_for('login') }}" method="POST">
                    <i class="fas fa-user"></i>
                    <input id="username" type="text" name="username" title="username" placeholder="Username" required class="login-input">
                    <br>
                    <i class="fas fa-key"></i>
                    <input id="password" type="password" name="password" title="password" placeholder="Password" required class="login-input">
                    <br>
                    <button type="submit" class="btn btn-primary no-textdecoration-on-links login-button">
                        Login
                    </button>
                </form>
                <a href="{{ url_for('signup') }}">
                    <button type="button" class="btn btn-primary no-textdecoration-on-links login-button">
                        Sign up
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>