<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="toast over" data-autohide="true" data-delay="2000">
            <div class="toast-body">
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endwith %}

<nav class="navbar navbar-light bg-light">
    <h2 class="nav-header">Sign up</h2>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 login-container">
            <div class="details">
                <form action="{{ url_for('adduser') }}" onsubmit="alertmessage()" method="POST">
                    <p>Username:</p>
                    <input id="username" type="text" name="username" title="username" required class="login-input">
                    <br>
                    <p>Password:</p>
                    <input id="password" type="password" name="password" title="password" required class="login-input">
                    <br>
                    <button type="submit" class="btn btn-dark login-button">
                        Sign Up
                    </button>
                </form>
                <a href="{{ url_for('start') }}">
                    <button type="button" class="btn btn-secondary login-button">
                        Back
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6">
                <p>Third Milestone project - Created by Istvan Gercsak</p>
            </div>
            <div class="col-12 col-sm-6 list-inline social-link-container">
                <ul>
                    <li class="list-inline-item">
                        <a href="https://github.com/IstvanGercsak" target="_blank">
                            <i class="fab fa-github-square fa-3x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/istvangercsak/" target="_blank">
                            <i class="fab fa-linkedin fa-3x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script>
    function alertmessage() {
        alert("Thank you for your registration. We will redirect you on the start page, and you can Log in your given username and password");
    }
</script>
<script src="{{ url_for('static', filename='script/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='script/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='script/bootstrap.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });
</script>
</body>
</html>