<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ViewDetails</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="toast over" data-autohide="true" data-delay="2000">
            <div class="toast-body">
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endwith %}

<nav class="container-fluid navbar-light bg-light">
    <div class="row">
        <div class="col-4 username nav-item-padding">
            <p class="username-color">{{ session['username'] }}</p>
        </div>
        <div class="col-4 set-center nav-item-padding">
            <a href="{{ url_for('dashboard') }}">
                <button type="button" class="btn btn-secondary">
                    <i class="fas fa-house-damage"></i>Dashboard
                </button>
            </a>
        </div>
        <div class="col-4 logout nav-item-padding">
            <a href="{{ url_for('log_out') }}">
                <button type="button" class="btn btn-secondary">
                    <i class="fas fa-sign-out-alt"></i>Sign out
                </button>
            </a>
        </div>
    </div>
</nav>

<p class="align-center letter-font-color details-paragraph">Details of the {{ groupyear }} {{ month }} period</p>

<p class="align-center letter-font-color details-paragraph"> Sum value of this Sub
    Group:</p>
<p class="align-center letter-font-color details-paragraph">{{ datesdetails | sum(attribute='VALUE') }} {{ session['currency'] }} </p>

<div class="align-center">
    <button type="button" class="btn btn-success align-center" data-toggle="modal" data-target="#add-new-sub-item">
        <i class="fas fa-plus"></i> Add new sub item
    </button>
</div>
<div class="table-size">
    <table class="table table-striped table-dark">
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Value</th>
            <th scope="col">Date</th>
            <th scope="col" class="hide-tablet-pc">Edit</th>
            <th scope="col" class="hide-tablet-pc">Remove</th>
        </tr>
        {% for subgroup in datesdetails %}
            <tr>
                <td>
                    <p class="set-margin-data">{{ subgroup.SUB_ITEM_NAME }}</p>
                </td>
                <td>
                    <p class="set-margin-data color-by-value">{{ subgroup.VALUE }} {{ session['currency'] }}</p>
                </td>
                <td>
                    <p class="set-margin-data">{{ subgroup.GIVEN_DATE }}</p>
                </td>
                <td>
                    <button type="button" class="btn btn-warning" data-toggle="modal"
                            data-target="#{{ subgroup.SUBID + subgroup.SUBITEMID * 33 }}">
                        <i class="fas fa-edit"></i><span class="hide-mobile">Modify Sub item</span>
                    </button>
                    <div class="modal fade" id="{{ subgroup.SUBID + subgroup.SUBITEMID * 33 }}" tabindex="-1"
                         role="dialog"
                         aria-labelledby="modify-sub-item"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content modal-content-dark-yellow">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modify-sub-item">Modify Sub Item!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('update_sub_item', id=subgroup.SUBID, groupname=groupname, groupyear=groupyear,month=month) }}"
                                          method="POST">
                                        <p>EDIT SUB ITEM NAME</p>
                                        <input type="text" id="subitem" name="subitem" title="subitem" required
                                               value="{{ subgroup.SUB_ITEM_NAME }}">
                                        <br>
                                        <p>EDIT VALUE IN {{ session['currency'] }}</p>
                                        <input type="number" id="subitemvalue" name="subitemvalue" title="subitemvalue"
                                               required>
                                        <br>
                                        <p>DATE</p>
                                        <input type="date" name="date" id="date" title="date" required
                                               value="{{ subgroup.GIVEN_DATE }}">
                                        <br>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary close-left-edit"
                                                    data-dismiss="modal">
                                                Close
                                            </button>
                                            <input type="submit" value="Update Sub Item" class="btn btn-warning">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#{{ subgroup.SUBID }}">
                        <i class="fas fa-trash-alt"></i><span class="hide-mobile">Remove item</span>
                    </button>
                    <div class="modal fade" id="{{ subgroup.SUBID }}" tabindex="-1" role="dialog"
                         aria-labelledby="remove-sub-item-Label"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content modal-content-dark-red">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="remove-sub-item-Label">Remove Sub Item!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this item?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary close-left-delete"
                                            data-dismiss="modal">
                                        Close
                                    </button>
                                    <form action="{{ url_for('delete_sub_item', id=subgroup.SUBID, month=month, groupname=groupname, groupyear=groupyear) }}"
                                          method="POST">
                                        <input type="submit" value="Delete Sub Item" class="btn btn-danger">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="modal fade" id="add-new-sub-item" tabindex="-1" role="dialog"
     aria-labelledby="add-new-sub-item"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-dark-green">
            <div class="modal-header">
                <h5 class="modal-title" id="add-new-sub-item-Label">Add new Sub Item!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('add_new_sub_item', groupname=groupname, month=month, groupyear=groupyear) }}"
                      method="POST">
                    <p>NEW SUB ITEM NAME</p>
                    <input type="text" id="subitem" name="subitem" title="subitem" required>
                    <br>
                    <p>NEW SUB ITEM VALUE IN {{ session['currency'] }}</p>
                    <input type="number" id="subitemvalue" name="subitemvalue" title="subitemvalue" required>
                    <br>
                    <p>DATE</p>
                    <input type="date" name="date" id="date" title="date" required>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-left-add" data-dismiss="modal">
                            Close
                        </button>
                        <input type="submit" value="Add New Sub Item" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6">
                <p>Third Milestone project - Created by Istvan Gercsak</p>
            </div>
            <div class="col-12 col-sm-6 list-inline social-link-container">
                <ul>
                    <li class="list-inline-item">
                        <a href="https://github.com/IstvanGercsak" target="_blank">
                            <i class="fab fa-github-square fa-3x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/istvangercsak/" target="_blank">
                            <i class="fab fa-linkedin fa-3x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="{{ url_for('static', filename='script/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='script/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='script/bootstrap.min.js') }}"></script>

<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });
</script>
<script>

    $(".color-by-value:contains('-')").css('color', 'red');

</script>
</body>
</html>